

main {
	display: flex;
	flex-wrap: wrap;
}
main>article {
	width: 32%;
	background: linear-gradient(to bottom, #f7f0b2 0%,#FFFFFF 63%)
}

header>img {
	max-width: 90%;
	padding: 0 5%;
	height: auto;

}

article>p, h3 {
	margin: 0.5rem;
}

.price {
	margin: 10px 0;
}

button {
	background-color: rgb(255, 154, 3);
	color: white;
	font-size: 20px;
	margin: 10px 0;
	width: 100%;
	border-radius: 10px;
}

section {
	display: block;
	padding: 0 1rem;
}
