main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}

main>article {
    width: 32%;

    background: linear-gradient(to bottom, #f7f0b2 0%, #FFFFFF 63%);
    outline: 2px solid skyblue;
}

header>img {
    max-width: 100%;
    padding: 0 5%;
    height: auto;
}

header>h2 {
    color: white;
}

article>p,
h3 {
    margin: 0.5rem;
}

p {
    margin-top: 1rem;
}


.price {
    margin: 10px 0;
    text-align: center;
}

input {
    max-width: 2rem;
    display: inline;
    margin: 0 0 0 20%;
    font-size: 18px;
}

button {
    background-color: rgb(255, 154, 3);
    color: white;
    display: inline;
    font-size: 20px;
    margin: 0 5% 10px;
    width: 40%;
    max-width: 200px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

section {
    display: block;
    padding: 0 1rem;
}
