* {
    box-sizing: border-box;
}

body,
body>header {
    background-color: #0a0a62;
}

body>header h1 {
    font-size: 30px;
    line-height: 1;
    margin: 0;
    padding-top: 5px;
}

body>header h1 a:link,
body>header h1 a:visited {
    color: white;
}

article.cta {
    display: flex;
    background-color: black;
    color: white;
}

.cta div {
    width: 60%;

}

.cta img {
    max-width: 100%;
    height: auto;
    margin: 0 1rem 0 0;
}

.cta .tagline {
    font-size: 22px;
    margin: 2rem;
}

h1 a,
h2 a,
h3 a {
    text-decoration: none;
    color: rgb(255, 154, 3);
}

h1,
h2,
h3 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 0 0.5rem 0 0;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    color: rgb(255, 154, 3);
}

nav ul li a:hover,
nav ul li a:active {
    color: rgb(200, 255, 3);
    text-decoration: underline;
}

.cart {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart table {
    margin: 0 auto;
    min-width: 400px;
}

td {
    text-align: center;
}

th:nth-of-type(1) {
    text-align: left;
}

tfoot th:nth-of-type(3) {
    text-align: right
}

td:nth-of-type(1) {
    text-align: left;
}



button:disabled {
    background: lightgray;
    color: darkgray;
}

.photo-one {
    grid-area: photo-one;
}

.photo-two {
    grid-area: photo-two;
}

.photo-three {
    grid-area: photo-three;
}

.photo-four {
    grid-area: photo-four;
}

.photo-five {
    grid-area: photo-five;
}

.home-copy {
    grid-area: home-copy;
}

.home-copy p {
    font-size: 18px;
}

.photo-grid img {
    max-width: 100%;
}

.photo-grid {
    display: grid;
    grid-template-areas:
        "photo-one home-copy photo-two"
        "photo-three photo-four photo-five";
    grid-column-gap: 2%;
    grid-row-gap: 50px;
    padding-top: 50px;
    background-color: white;
}
